#root, body, html, .App{
    height: 100%;
}

.mainpagecontainerForm {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "matt newUserForm";
}

.matt {
    grid-area: matt;
}

.newUserForm {
    grid-area: newUserForm;
    width: 10em;
    display: flex;
    flex-direction: column;
}

.button {
    width: 7em;
    height: 2em;
    align-self: flex-end;
}

.arrow {
    margin: 2em;
}