.login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 6px;
    background-color: white;
}

.signup-box {
    width: 360px;
    height: 430px;
    margin: auto;
    border-radius: 6px;
    background-color: white;
}

.form-title {
    text-align: center;
    padding-top: 15px;
}

.form {
    width: 300px;
    margin-left: 30px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.login-button ,
.signup-button {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #00cc00;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.go-make-account {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.subtext {
    text-align: center;
}

.link-go-make-account {
    text-align: center;
}

.link-go-make-account:hover p {
    color: #CC0041;
}