.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #C0C7D8;
    border-style: solid;
    border-width: 3px;
    border-color: #434C68;
    border-radius: 50%;
    width: 1100px;
    height: 1100px;
    justify-content: space-around;
    align-items: center;
}

.introPage :hover {
    width: 1300px;
    height: 1300px;
    transition-duration: 2s;
}