.title {
    display: flex;
    justify-content: center;
}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    margin: 5em;
    padding-left: 1em;
    padding-right: 3em;
    width: 10em;
    height: 10em;
    border-style: solid;
    border-color: black;
}

.picture {
    width: 10em;
    height: 10em;
}